<p id="notice"><%= notice %></p>


<p>

  <h2>Comments</h2>
  <%= render @movie.comments %>

  <h2>Add a comment:</h2>
  <%= render "comments/form" %>



  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Cast:</strong>
  <%= @movie.cast %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Length:</strong>
  <%= @movie.length %>
</p>

<p>
  <strong>Url:</strong>
  <%= @movie.url %>
</p>

<p>
  <strong>Poster url:</strong>
  <%= @movie.poster_url %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
